/* ******************************************
**
**	REBOOT CSS STYLES
**
********************************************/
*{
	margin: auto;
}
body {
	background: #fefefe;
	margin: 0;
	padding: 0;
}

.borde-azul {
	border: blue 1px solid;
	width: 100%;
}

.bg-orange{
	background-color: #fff7e6;
}

.carousel-inner{
	display: block;
	height: auto;
	max-height: 600px;
}

.carousel-item img{
	width: 100%;

}

.titular{
	font-size: 34px;
	text-transform: uppercase;
	text-shadow: grey;
	font-weight: bold;
}
.titular-fucsia{
	color: #ff0066;
	font-weight: bolder;
}
