/* ******************************************
**
**	REBOOT CSS STYLES
**
********************************************/
*{
	margin: auto;
}
body {
	background: #fefefe;
	margin: 0;
	padding: 0;
}

.borde-azul {
	border: blue 1px solid;
}

.bg-fucsia{
	background-color: #9A1750;
}

.text-fucsia{
	color: #E969A0;
}

.text-fucsia:hover{
	color: #FB95C1;
}

.btn-outline-fucsia {
    color: #E969A0;
    background-color: transparent;
    background-image: none;
    border-color: #E969A0;
}

.btn-outline-fucsia:hover {
    color: #FFFFFF;
    background-color: #E969A0;
    background-image: none;
    border-color: #E969A0;
}

.jumbotron{
	background: url("../imagenes/index2.jpg");
	background-position: center; /* Center the image */
  	background-repeat: no-repeat; /* Do not repeat the image */
  	background-size: cover; /* Resize the background image to cover the entire container */
  	max-height: 600px;
  	position: relative;

	
}


.container-in-jumbo{
	font-size: 34px;
	text-transform: uppercase;
	text-shadow: grey;
	font-weight: bold;
	text-align: center;
	padding-top: 300px;

}
.titular-fucsia{
	color: #ff0066;
	font-weight: bolder;
}

.btn-fucsia {
    color: #FFFFFF;
    background-color: #E969A0;
}

.btn-fucsia:hover {
    color: #FFFFFF;
    background-color: #ff0066;
}